[submodule "Eureka-Server"]
	path = Eureka-Server
	url = https://github.com/Ettalbi-Zakaria/Eureka-Server
[submodule "Customer-Service"]
	path = Customer-Service
	url = https://github.com/Ettalbi-Zakaria/Customer-Service
[submodule "Inventory-Service"]
	path = Inventory-Service
	url = https://github.com/Ettalbi-Zakaria/Inventory-Service
[submodule "Gateway"]
	path = Gateway
	url = https://github.com/Ettalbi-Zakaria/Gateway
